#login {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
}
#login > .section > .body {
	padding: 30px;
	box-sizing: border-box;
	background-color: #fff;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	border-bottom: 4px solid #ee5253;
}
#login > .section > .body > .profile {
	width: 100px;
	height: 100px;
	border: 1px solid #dddddd;
	background-color: #ee5253;
	border-radius: 100%;
	text-align: center;
	color: #ffffff;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
#login > .section > .body > .profile > i {
	font-size: 80px;
	line-height: 1.5;
}
#login > .section > .body > form > .g-recaptcha > div {
	margin: auto;
}
#login > .section > .body > .register {
	float: right;
}
#login > .section > .body > .forgot-password {
	float: left;
}
#login > .section > .body > .register,
#login > .section > .body > .forgot-password {
	font-family: 'Prompt', sans-serif;
	font-size: 0.8em;
	display: block;
	color: #5c5c5c;
	text-decoration: none;
	text-align: center;
	margin-top: 20px;
}
#login > .section > .body > .register:hover,
#login > .section > .body > .forgot-password:hover {
	color: #ee5253;
	text-decoration: underline;
}
#login > .section > .body::after {
	display: block;
	content: '';
	clear: both;
}