#reset-password.no-token {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
}
#reset-password.token > .section {
	padding: 20px 0px;
	box-sizing: border-box;
}
#reset-password > .section > .body {
	padding: 30px;
	box-sizing: border-box;
	background-color: #fff;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	border-bottom: 4px solid #ee5253;
	overflow: hidden;
}
#reset-password > .section > .body > .title {
	font-family: 'Prompt', sans-serif;
	font-size: 1.5em;
	line-height: 1;
	color: #ee5253;
	margin-bottom: 20px;
}
#reset-password > .section > .body > .title > a {
	color: #ee5253;
}
#reset-password > .section > .body > .subtitle {
	font-family: 'Prompt', sans-serif;
	font-size: 0.9em;
	line-height: 1.5;
	font-weight: lighter;
	color: #555555;
	margin: 15px 0px;
}